.video {
  background-color: rgba(255, 255, 255);
  padding-bottom: 39px;
}

.video__text-unit {
  background-color: rgba(255, 255, 255);
}

.video__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: rgba(0, 0, 0);
  margin: 0;
  padding: 31.5px 52px;
  padding-bottom: 0;
  text-align: center;
}

.video__text {
  font-size: 14px;
  line-height: 24px;
  color: rgba(51, 51, 51);
  text-align: center;
  padding: 0 40px;
  margin: 0;
  margin-top: 26px;
  padding-bottom: 35px;
}

.video__wrapper {
  position: relative;
  height: 267px;
  width: 320px;
}

.video__wrapper img {
  width: 100%;
}

.video__control {
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  margin: 0 20px;
  height: 45px;
  bottom: 50px;
}

.video__scale {
  background-color: rgba(255, 255, 255, 0.2);
  height: 3px;
  width: 235px;
  margin: 0;
  position: absolute;
  top: 22px;
  left: 23px;
}

.video__handle {
  position: absolute;
  top: 19px;
  left: 58px;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255);
  border: 4.5px solid rgba(255, 255, 255);
  border-radius: 50px 50px 50px 50px;
}

.video__control-board {
  background-color: rgba(242, 242, 242);
  margin: 0 20px;
  height: 66px;
  position: absolute;
  bottom: 0;
}

.video__rewind {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  width: 70px;
  border: 0;
  background-color: transparent;
}

.video__rewind svg {
  margin-right: 4px;
}

.video__rewind:hover path {
  fill: rgba(51, 51, 51);
}

.video__rewind:active path {
  fill: rgba(51, 51, 51, 0.3);
}

.video__subs {
  padding: 0;
  margin: 0;
  width: 70px;
  border: 0;
  margin-left: 62px;/*t*/
  margin-top: 20px;
  background-color: transparent;
}

.video__subs svg {
  margin-top: 3px;
  margin-left: 39px;
}

.video__subs:hover path {
  fill: rgba(51, 51, 51);
}

.video__subs:active path {
  fill: rgba(51, 51, 51, 0.3);
}

.video__full-view {
  margin: 0;
  padding: 0;
  border: 0;
  width: 70px;
  margin-top: 20px;
  background-color: transparent;
}

.video__full-view svg {
  margin-left: 6px;
}

.video__full-view:hover polygon {
  fill: rgba(51, 51, 51);
}

.video__full-view:active polygon {
  fill: rgba(51, 51, 51, 0.3);
}

@media (min-width: 768px) {
  .video {
    padding-bottom: 39px;
  }

  .video__title {
    font-size: 30px;
    line-height: 26px;
    margin: 0;
    padding: 66px 208px;
    padding-bottom: 0;
  }

  .video__text {
    padding: 0 177px;
    margin: 0;
    margin-top: 29px;
    padding-bottom: 74px;
  }

  .video__wrapper {
    padding: 0 60px;
    height: 500px;
    width: 648px;
  }

  .video__control {
    margin: 0;
    height: 92px;
    bottom: 19.7%;
  }

  .video__scale {
    width: 389px;
    top: 45px;
    left: 93px;
  }

  .video__handle {
    top: 42px;
    left: 206px;
  }

  .video__control-board {
    background-color: transparent;
    height: 92px;
    position: relative;
    bottom: 38%;
    margin: 0;
  }

  .video__rewind {
    margin-top: 35px;
    margin-left: 23px;
  }

  .video__subs {
    margin-left: 407px;/*t*/
    margin-top: 36px;
  }

  .video__full-view {
    margin-top: 36px;
  }

  .video__rewind path {
    fill: rgba(255, 255, 255);
  }

  .video__rewind:hover path {
    fill: rgba(255, 255, 255, 0.6);
  }

  .video__rewind:active path {
    fill: rgba(255, 255, 255, 0.3);
  }

  .video__subs path {
    fill: rgba(255, 255, 255);
  }

  .video__subs:hover path {
    fill: rgba(255, 255, 255, 0.6);
  }

  .video__subs:active path {
    fill: rgba(255, 255, 255, 0.3);
  }

  .video__full-view polygon {
    fill: rgba(255, 255, 255);
  }

  .video__full-view:hover polygon {
    fill: rgba(255, 255, 255, 0.6);
  }

  .video__full-view:active polygon {
    fill: rgba(255, 255, 255, 0.3);
  }

  .video__rewind svg {
    margin-bottom: 11px;
    margin-right: 29px;
  }

  .video__subs svg {
    margin-left: 3px;
    margin-bottom: 11px;
    margin-top: 0;
  }

  .video__full-view svg {
    margin-bottom: 11px;
    margin-right: 29px;
    margin-left: 0;
  }
}

@media (min-width: 1200px) {
  .video {
    padding-bottom: 86px;
  }

  .video__title {
    margin: 0;
    padding: 69px 422px;
    padding-bottom: 0;
  }

  .video__text {
    padding: 0 391px;
    margin: 0;
    margin-top: 31px;
    padding-bottom: 71px;
  }

  .video__wrapper {
    padding: 0 200px;
    width: 800px;
  }

  .video__control {
    bottom: 19.9%;
  }

  .video__scale {
    width: 540px;
    left: 92px;
  }

  .video__control-board {
    bottom: 38.2%;
  }

  .video__subs {
    margin-left: 559px;/*t*/
  }

  .video__rewind svg {
    margin-bottom: 13px;
  }

  .video__subs svg {
    margin-left: 0;
    margin-bottom: 11px;
  }

  .video__full-view svg {
    margin-bottom: 12px;
    margin-right: 32px;
  }
}
