.introduction {
  outline: 2px solid #92991f;
  background-color: rgba(255, 255, 255);
  margin: 0;
}

.introduction__title {
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0);
  font-weight: bold;
}

.introduction__text {
  font-size: 14px;
  line-height: 24px;
  color: rgba(51, 51, 51);
}
