.main-nav {
  background-color: rgba(255, 255, 255);
  outline: 2px solid #ff0c00;
}

.main-nav__toggle {
  color: rgba(255, 255, 255);
  background-color: rgba(129, 179, 210);
}

.main-nav__list {
  background-color: rgba(129, 179, 210);
  list-style: none;
  color: rgba(255, 255, 255);
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  margin: 0;
  padding: 0;
}
