.page-footer {
  background-color: rgba(254, 254, 254, 0.9);
  outline: 2px solid #cc00ff;
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /*temp*/
  min-height: 243px;
}

.page-footer__hashtag {
  color: rgba(0, 0, 0);
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  padding: 40px 90px;
  padding-bottom: 0;
}

.page-footer__social {
  margin: 40px 0;
}

.page-footer__copyright {
  margin: 0 90px;
}

@media (min-width: 768px) {
  .page-footer {
    width: 768px;
    margin: 0;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    /*temp*/
    min-height: 120px;
  }

  .page-footer__hashtag {
    width: 256px;
    padding: 0;
    align-self: center;
  }

  .page-footer__social {
    width: 256px;
    margin: 0;
    align-self: center;
  }

  .page-footer__copyright {
    width: 256px;
    margin: 0;
    align-self: center;
  }
}

@media (min-width: 1200px) {
  .page-footer {
    width: 1200px;
    margin: 0;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    /*temp*/
    min-height: 120px;
  }

  .page-footer__hashtag {
    width: 400px;
    padding: 0;
    align-self: center;
  }

  .page-footer__social {
    width: 400px;
    margin: 0;
    align-self: center;
  }

  .page-footer__copyright {
    width: 400px;
    margin: 0;
    align-self: center;
  }
}
