.reasons-block {
  background-color: rgba(255, 255, 255);
  outline: 2px solid #ff9600;
}

.reasons-block__wrapper {
  outline: 2px solid #a2ff00;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 320px;
  /* temp*/
  min-height: 454px;

  &--left-reasons {
    background-color: rgba(238, 238, 238);
    /*temp*/
    min-height: 503px;
  }
}

.reasons-block__legend {
  background-color: rgba(129, 179, 210);
  width: 320px;
  text-align: center;
  /*temp*/
  min-height: 193px;
}

.reasons-block__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding: 43px 50px;
  padding-bottom: 0;
  margin: 0;

  &--first-reasons {
    color: rgba(255, 255, 255);
  }

  &--other-reasons {
    color: rgba(0, 0, 0);
    padding: 31px 62px;
    padding-bottom: 0;
  }
}

.reasons-block__text {
  font-size: 14px;
  line-height: 21px;
  padding: 0 25px;
  padding-bottom: 2px;
  margin: 0;
  margin-top: 16px;

  &--first-description {
    color: rgba(255, 255, 255);
  }

  &--other-description {
    color: rgba(51, 51, 51);
    padding: 0 35px;
  }
}

.reasons-block__image {
  width: 320px;
}

.reasons-block__list {
  outline: 2px solid #0dead3;
  list-style: none;
  background-color: rgba(255, 255, 255);
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
  width: 320px;
  /*temp*/
  min-height: 416px;
}

@media (min-width: 768px) {
  .reasons-block__wrapper {
    width: 768px;
    margin: 0;
    display: flex;
    flex-direction: row;
    /*temp*/
    height: 256px;
    min-height: 0;

    &--reason-2 {
      flex-direction: row-reverse;
    }
  }

  .reasons-block__legend {
    width: 33%;
    /*temp*/
    height: 256px;
  }

  .reasons-block__title {
    padding: 47px 55px;
    padding-bottom: 0;
    margin: 0;

    &--other-reasons {
      padding: 48px 75px;
      padding-bottom: 0;
    }
  }

  .reasons-block__text {
    padding: 0 44px;
    padding-bottom: 13px;
    margin: 11px 0;
    margin-bottom: 0;

    &--other-description {
      padding: 0 47px;
    }
  }

  .reasons-block__image {
    width: 67%;
    /*temp*/
    height: 256px;
  }

  .reasons-block__list {
    flex-direction: row;
    width: 768px;
    margin: 0;
    /*temp*/
    min-height: 330px;
  }

  .reasons-block__unit {
    width: 33%;
  }
}

@media (min-width: 1200px) {
  .reasons-block__wrapper {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    /*temp*/
    min-height: 256px;

    &--reason-2 {
      flex-direction: row-reverse;
    }
  }

  .reasons-block__legend {
    width: 400px;
    /*temp*/
    min-height: 256px;
  }

  .reasons-block__title {
    padding: 53px 120px;
    padding-bottom: 0;
    margin: 0;

    &--other-reasons {
      padding: 46px 135px;
      padding-bottom: 0;
    }
  }

  .reasons-block__text {
    padding: 0 65px;
    padding-bottom: 14px;
    margin: 14px 0;
    margin-bottom: 0;

    &--other-description {
      padding: 0 56px;
    }
  }

  .reasons-block__image {
    width: 800px;
    /*temp*/
    min-height: 256px;
  }

  .reasons-block__list {
    width: 1200px;
    margin: 0 auto;
  }

  .reasons-block__unit {
    width: 400px;
  }
}

.reasons-block__unit {
  background-color: rgba(238, 238, 238);
  text-align: center;
  /*temp*/
  min-height: 167px;
}
