.reasons-block {
  background-color: rgba(255, 255, 255);
  outline: 2px solid #ff9600;
}

.reasons-block__wrapper {
  outline: 2px solid #a2ff00;
  margin: 0;
}

.reasons-block__legend {
  background-color: rgba(129, 179, 210);
}

.reasons-block__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  &--first-reasons {
    color: rgba(255, 255, 255);
  }

  &--other-reasons {
    color: rgba(0, 0, 0);
  }
}

.reasons-block__text {
  font-size: 14px;
  line-height: 21px;

  &--first-description {
    color: rgba(255, 255, 255);
  }

  &--other-description {
    color: rgba(51, 51, 51);
  }
}

.reasons-block__list {
  list-style: none;
  background-color: rgba(255, 255, 255);
}

.reasons-block__unit {
  background-color: rgba(238, 238, 238);
}
