.review-form {
  background-color: rgba(255, 255, 255);
  outline: 2px solid #1a1fde;
}

.review-form__full-name {
  border: 0;
  background-color: rgba(255, 255, 255);
}

.review-form__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: rgba(0, 0, 0);
}

.review-form__first-name {
  font-size: 14px;
  line-height: 26px;
  color: rgba(51, 51, 51);
  font-weight: 400;
}

.review-form__text {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: rgba(0, 0, 0);
  background-color: rgba(242, 242, 242);
  border: 0;
}

.review-form__last-name {
  font-size: 14px;
  line-height: 26px;
  color: rgba(51, 51, 51);
}

.review-form__surname {
  font-size: 14px;
  line-height: 26px;
  color: rgba(51, 51, 51);
}

.review-form__contact-info {
  border: 0;
  background-color: rgba(255, 255, 255);
}

.review-form__phone-number {
  font-size: 14px;
  line-height: 26px;
  color: rgba(51, 51, 51);
}

.review-form__general-impression {
  border: 0;
  background-color: rgba(255, 255, 255);
}

.review-form__first-option {
  text-transform: none;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: rgba(0, 0, 0);
}

.review-form__second-option {
  text-transform: none;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: rgba(0, 0, 0);
}

.review-form__third-option {
  text-transform: none;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: rgba(0, 0, 0);
}

.review-form__seesight {
  border: 0;
  background-color: rgba(255, 255, 255);
}

.review-form__first-seesight {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: rgba(0, 0, 0);
  text-transform: none;
}

.review-form__second-seesight {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: rgba(0, 0, 0);
  text-transform: none;
}

.review-form__third-seesight {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: rgba(0, 0, 0);
  text-transform: none;
}

.review-form__fourth-seesight {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: rgba(0, 0, 0);
  text-transform: none;
}

.review-form__emotions {
  border: 0;
  background-color: rgba(255, 255, 255);
}

.review-form__textarea {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: rgba(0, 0, 0);
  background-color: rgba(242, 242, 242);
  border: 0;
  padding: 0;
}

.review-form__button {
  background-color: rgba(129, 179, 210);
  border: 0;
  color: rgba(255, 255, 255);
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}
