.search {
  background-color: rgba(255, 255, 255);
  height: 637px;/*t*/
  overflow: hidden;/*t*/
}

.search__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: rgba(0, 0, 0);
  margin: 0;
  padding: 30px 55px;
  padding-bottom: 0;
  text-align: center;
}

.search__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(51, 51, 51);
  padding: 0 28px;
  margin-top: 20px;
  margin-bottom: 34px;
  text-align: center;
}

.search__wrapper-link {
  margin: 0 20px;
  text-align: center;
  background-color: rgba(129, 179, 210);
  margin-bottom: 49px;
  padding: 17px 0;
}

.search__link {
  font-size: 21px;
  line-height: 26px;
  color: rgba(255, 255, 255);
  font-weight: 700;
  background-color: rgba(129, 179, 210);
}

@media (min-width: 768px) {
  .search {
    height: 668px;/*t*/
    overflow: hidden;/*t*/
  }

  .search__title {
    margin: 0;
    padding: 53px 233px;
    padding-bottom: 0;
  }

  .search__text {
    padding: 0 164px;
    margin-top: 28px;
    margin-bottom: 45px;
  }

  .search__wrapper-link {
    margin: 0 155px;
    margin-bottom: 58px;
    padding: 17px 0;
  }
}

@media (min-width: 1200px) {
  .search__title {
    margin: 0;
    padding: 53px 448px;
    padding-bottom: 0;
  }

  .search__text {
    padding: 0 382px;
    margin-top: 32px;
    margin-bottom: 49px;
  }

  .search__wrapper-link {
    margin: 0 371px;
    margin-bottom: 66px;
    padding: 17px 0;
  }
}
