@media (min-width: 768px) {
  .site-list__item a {
    color: rgba(0, 0, 0);
  }

  .site-list__item {
    width: 20%;
  }
}

@media (min-width: 1200px) {
  .site-list__item {
    width: 240px;
  }
}
